<!DOCTYPE html>
<html lang="ca" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Afegir assistència a formació</title>
</head>
<body>
<h1>Afegir assistència a formació</h1>
<form th:action="@{/assistenciaformacio/add}" th:object="${assistenciaFormacio}" method="post">
    <label for="idAssistencia">ID Assistència:</label>
    <input id="idAssistencia" type="number" th:field="*{idAssistencia}" required><br><br>

    <label for="idActivitat">ID Activitat:</label>
    <input id="idActivitat" type="number" th:field="*{idActivitat}" required><br><br>

    <label for="idAssistent">ID Assistent:</label>
    <input id="idAssistent" type="number" th:field="*{idAssistent}" required><br><br>

    <label for="assistent">Ha assistit:</label>
    <input id="assistent" type="checkbox" th:field="*{assistent}"><br><br>

    <label for="certificatEmes">Certificat emès:</label>
    <input id="certificatEmes" type="checkbox" th:field="*{certificatEmes}"><br><br>

    <button type="submit">Afegir</button>
</form>
<br>
<a th:href="@{/assistenciaformacio/list}">Tornar a la llista</a>
</body>
</html>
