<!DOCTYPE html>
<html lang="ca" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Llista d'activitats de formació</title>
</head>
<body>
<h1>Llista d'activitats de formació</h1>
<a th:href="@{/activitatformacio/add}">Afegir activitat</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>ID Formador</th>
        <th>Títol</th>
        <th>Data</th>
        <th>Tipus</th>
        <th>Aforament</th>
        <th>Accions</th>
    </tr>
    <tr th:each="a : ${activitats}">
        <td th:text="${a.idActivitat}"></td>
        <td th:text="${a.idFormador}"></td>
        <td th:text="${a.titol}"></td>
        <td th:text="${a.data}"></td>
        <td th:text="${a.tipus}"></td>
        <td th:text="${a.aforament}"></td>
        <td>
            <a th:href="@{'/activitatformacio/update/' + ${a.idActivitat}}">Editar</a> |
            <a th:href="@{'/activitatformacio/delete/' + ${a.idActivitat}}">Eliminar</a>
        </td>
    </tr>
</table>
</body>
</html>
